body{
    background-color: teal;
}

#Progress_Status { 

  width: 50%; 

  background-color: #ddd; 
  font-size:70px;
} 

  
#myprogressBar { 
  

  width: 2%; 

  height: 20px; 

  background-color: #4CAF50; 
} 
h1{
    color:white;
}

button{
color:#0000FF;
}
button:hover{
  background-color:#ff0000;
}
